.basment {
  background-color: var(--rockcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.web-basment {
  color: var(--bluecolor);
}

.list-basment {
  list-style-type: none;
}

.list-basment > li:not(:first-child) {
  margin-top: 9px;
}

.emblema-basment {
  font-weight: bold;
  font-family: "Raleway";
  text-decoration: none;
  color: var(--whitetext);
  font-size: 26px;
}

.emblema-basment:hover,
.emblema-basment:focus {
  color: var(--whitetext);
}

.contacts-basment {
  color: var(--whitesix);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.contacts-basment:hover, .contacts-basment:focus {
  color: var(--bluecolor);
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.connect-street {
  margin-right: 70px;
}

.connect-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-links-items {
  margin-right: 10px;
}

.connect-links-items:last-child {
  margin-right: 0;
}

.connect-heading {
  color: var(--whitetext);
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.letter {
  font-style: normal;
  margin-top: 20px;
}

.links-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--colorsocialbg);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.links-items:hover, .links-items:focus {
  border-color: var(--bordercclientshover);
  background-color: var(--bordercclientshover);
}

.links-items:hover .svg,
.links-items:focus .svg {
  fill: var(--whitecolor);
}

.subscribe {
  margin-left: 93px;
}

.subscribep {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetext);
  margin-bottom: 20px;
}

.subscriber-emeil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emailinput {
  width: 358px;
  height: 50px;
  background-color: var(--bcgsubscribe);
  border: 1px solid var(--bordersubscribe);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow8));
          filter: drop-shadow(0px 4px 4px var(--shadow8));
  border-radius: 4px;
  position: relative;
  color: var(--whitecolor);
  padding-left: 16px;
}

.emailinput::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,25;
  letter-spacing: 0.03em;
  text-align: left;
}

.emailinput:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,25;
  letter-spacing: 0.03em;
  text-align: left;
}

.emailinput::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,25;
  letter-spacing: 0.03em;
  text-align: left;
}

.emailinput::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,25;
  letter-spacing: 0.03em;
  text-align: left;
}

.subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bluecolor);
  color: var(--whitetext);
  font-size: 16px;
  cursor: pointer;
  border: 0cm;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  margin-left: 12px;
}

.subcribe-svg {
  margin-left: 10px;
}

.street {
  color: var(--whitetext);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 9px;
}

.svg-basement {
  display: block;
  height: 20px;
  width: 20px;
  fill: var(--colorlogoitem);
}

.section-benefits {
  padding-top: 0px;
}

.benefits {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
}

.listbenefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.listofbebefits {
  margin-right: 30px;
}

.listofbebefits:last-child {
  margin-right: 0px;
}

.benefits-overflow {
  display: inline;
  position: absolute;
  background-color: var(--bckgrwhbenefits);
  width: 370px;
  height: 70px;
  top: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.pbenefits {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitetext);
}

.imgb {
  position: relative;
  z-index: 1;
}

.cutomers-heading {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}

.cutomers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--bordedclients);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-item:hover, .customers-item:focus {
  border-color: var(--bordercclientshover);
}

.customers-item:hover .customers-svg,
.customers-item:focus .customers-svg {
  fill: var(--bordercclientshover);
}

.customers-svg {
  display: block;
  fill: var(--coloriconmain);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.links-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  width: 170px;
}

.header {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--headerline);
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__link {
  color: var(--maincolor);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header__link:hover, .header__link:focus {
  color: var(--bluecolor);
}

.header__link--current {
  color: var(--bluecolor);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header__link--current::after {
  position: relative;
  display: block;
  content: '';
  border: 2px solid;
  top: 34px;
  border-radius: 2px;
  background-color: var(--overlaybcg);
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__svg {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link {
  color: var(--silvercolor);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* animation */
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header__emblema {
  font-weight: 700;
  font-family: "Raleway";
  text-decoration: none;
  color: var(--maincolor);
  font-size: 26px;
  margin-right: 93px;
}

.header__emblema:hover, .header__emblema:focus {
  color: var(--maincolor);
}

.header__web {
  color: var(--bluecolor);
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  color: var(--silvercolorcontacts);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* animation */
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--bluecolor);
}

.header__list-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  display: block;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--colorbggradient)), to(var(--colorbggradient))), url(../images/background/bkghero.jpg);
  background-image: linear-gradient(var(--colorbggradient), var(--colorbggradient)), url(../images/background/bkghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: auto;
  background-color: var(--rockcolor);
  text-align: center;
}

.hero-button {
  background-color: var(--bluecolor);
  color: var(--whitetext);
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  border: 0cm;
  border-radius: 10px;
  width: 200px;
  height: 50px;
}

.hero-text {
  color: var(--whitetext);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.listedge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listedge-list {
  width: 270px;
}

.listedge-list:not(:last-child) {
  margin-right: 30px;
}

.listeadge-img {
  background-color: var(--bckglisteage);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
}

.svg-listeage {
  display: block;
  height: 70px;
  width: 70px;
}

.listedge-heading {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 10px;
}

.listedge-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colorparagraphhero);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bckgrmodal);
  z-index: 55000;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.modal {
  width: 528px;
  background: var(--colorofborderteam);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px var(--shadow3), 0px 1px 1px var(--shadow4), 0px 2px 1px var(--shadow5);
          box-shadow: 0px 1px 3px var(--shadow3), 0px 1px 1px var(--shadow4), 0px 2px 1px var(--shadow5);
  border-radius: 4px;
}

.closemark {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--whitetext);
  cursor: pointer;
  border: 1px solid var(--borderclose);
}

.closemark:hover, .closemark:focus {
  fill: var(--bluecolor);
}

.modaldiv {
  padding: 40px;
}

.modalContent {
  text-align: center;
  margin-bottom: 12px;
}

.rows {
  margin-bottom: 10px;
  height: 58px;
}

.rows:last-child {
  margin-bottom: 20px;
}

.label, .labelcomments {
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--colortextform);
}

.inputmodal {
  display: block;
  height: 40px;
  width: 448px;
  border: 1px solid var(--bordermodalblack);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  padding-left: 40px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.inputmodal:hover, .inputmodal:focus, .inputmodal:focus-visible {
  outline: 0px;
  border-color: var(--bordermodal);
}

.inputmodal:hover + .svg-modal,
.inputmodal:focus + .svg-modal,
.inputmodal:focus-visible + .svg-modal {
  fill: var(--bordermodal);
}

.svg-modal {
  fill: var(--maincolor);
  position: relative;
  top: -30px;
  left: 12px;
}

.coments {
  height: 138px;
  margin-bottom: 20px;
}

.accept-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox:checked + .chekbox-accept {
  background: var(--overlaybcg);
  border-color: var(--overlaybcg);
}

.chekbox-accept {
  fill: var(--whitecolor);
  border: 2px solid var(--maincolor);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  -webkit-transition: background var(--animation), border-color var(--animation);
  transition: background var(--animation), border-color var(--animation);
}

.contract--label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--silvercolor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-contract {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--silvercolor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-send {
  font-style: normal;
  font-weight: bold;
  background-color: var(--bluecolor);
  color: var(--whitetext);
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  border: 0cm;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px var(--shadow8);
          box-shadow: 0px 4px 4px var(--shadow8);
  height: 50px;
  width: 200px;
  margin-left: 125px;
  font-weight: bold;
  letter-spacing: 0.06em;
  background-color: var(--bordermodal);
}

.button-send:hover, .button-send:focus {
  background-color: var(--hoverbutton);
}

.feedback {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid var(--bordermodalblack);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.feedback::-webkit-input-placeholder {
  color: var(--colorplaceholder);
}

.feedback:-ms-input-placeholder {
  color: var(--colorplaceholder);
}

.feedback::-ms-input-placeholder {
  color: var(--colorplaceholder);
}

.feedback::placeholder {
  color: var(--colorplaceholder);
}

.feedback:hover, .feedback:focus {
  outline: 0px;
  border-color: var(--bordermodal);
}

.portfolio {
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item:not(:first-child) {
  margin-left: 8px;
}

.listprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.listprojects-item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.listprojects-item:nth-child(3n+3) {
  margin-right: 0;
}

.listprojects-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.listprojects-item:hover .overlay,
.listprojects-item:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-url {
  display: block;
  text-decoration: none;
  color: var(--maincolor);
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.projects-url:hover, .projects-url:active {
  /* background-color:red; */
  -webkit-box-shadow: 0px 1px 1px var(--shadow3), 0px 4px 4px var(--shadow6), 1px 4px 6px var(--shadow7);
          box-shadow: 0px 1px 1px var(--shadow3), 0px 4px 4px var(--shadow6), 1px 4px 6px var(--shadow7);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  background-color: var(--overlaybcg);
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,5;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--whitetext);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.imgproject {
  width: 100%;
  height: auto;
  display: block;
}

.blank {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-style: solid;
  border-color: var(--colorofborders);
  border-width: 1px;
  border-top: none;
}

.projects {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  display: flex;
  margin-bottom: 4px;
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.7;
  font-weight: 400;
  color: var(--silvercolor);
  font-size: 16px;
  line-height: 24px;
}

.relative {
  position: relative;
  overflow: hidden;
}

.menu-button {
  line-height: 1.625;
  cursor: pointer;
  background-color: var(--whitecolor);
  border: 0cm;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 22px;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.menu-button:hover, .menu-button:focus {
  cursor: pointer;
  background-color: var(--bluecolor);
  color: var(--whitecolor);
  border: 0cm;
  -webkit-box-shadow: 0px 3px 1px var(--shadow1), 0px 1px 2px var(--shadow2), 0px 2px 2px var(--shadow3);
          box-shadow: 0px 3px 1px var(--shadow1), 0px 1px 2px var(--shadow2), 0px 2px 2px var(--shadow3);
  border-radius: 4px;
}

.team {
  background-color: var(--bckgrclteam);
}

.team-heading {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}

.list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 0px;
}

.list-of-team {
  margin-right: 30px;
  border-style: solid;
  border-color: var(--shadow4);
  border-width: 0px 1px 1px;
  background-color: var(--bckgrclteamitem);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px var(--shadow3), 0px 1px 1px var(--shadow4), 0px 2px 1px var(--shadow5);
          box-shadow: 0px 1px 3px var(--shadow3), 0px 1px 1px var(--shadow4), 0px 2px 1px var(--shadow5);
  border-radius: 0px 0px 4px 4px;
}

.list-of-team:last-child {
  margin-right: 0px;
}

.teamdiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 10px;
}

.position {
  text-align: center;
  font-weight: 400;
  color: var(--silvercolor);
  font-size: 16px;
  line-height: 1.17;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links-items {
  display: block;
}

.social-links-items:not(:last-child) {
  margin-right: 10px;
}

.social-links-items:hover, .social-links-items:focus {
  border-radius: 50%;
}

.links-items:hover .svg,
.links-items:focus .svg {
  fill: var(--whitecolor);
}

.links-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  background-color: var(--colorsocialbg);
  border-radius: 50%;
}

.links-items:hover, .links-items:focus {
  border-color: var(--bordercclientshover);
  background-color: var(--bordercclientshover);
}

.svg {
  display: block;
  height: 20px;
  width: 20px;
  fill: var(--coloriconmain);
  -webkit-transition: background-color var(--animation), fill var(--animation);
  transition: background-color var(--animation), fill var(--animation);
}

:root {
  --maincolor: rgb(33, 33, 33);
  --bluecolor: rgba(33, 150, 243, 1);
  --silvercolorcontacts: #757575;
  --rockcolor: rgb(47, 48, 58);
  --whitecolor: rgba(245, 244, 250);
  --whitetext: rgba(255, 255, 255, 1);
  --whitesix: rgba(255, 255, 255, 0.6);
  --colortextform:rgba(117, 117, 117, 1);
  --colorofborders: rgba(238, 238, 238, 1);
  --colorofborderteam: #ffffff;
  --bckgrclteam: rgba(245, 244, 250, 1);
  --bckgrclteamitem: rgba(255, 255, 255, 1);
  --headerline: rgba(236, 236, 236, 1);
  --socialitemhover: rgb(33, 150, 243);
  --colorlogoitem: #fff;
  --bckglisteage: rgb(245, 244, 250);
  --bordedclients:rgba(175, 177, 184, 1);
  --bordersubscribe:rgba(255, 255, 255, 0.3);
  --bcgsubscribe:#2F303A;
  --bordercclientshover:rgba(33, 150, 243, 1);
  --bordermodalblack: rgba(33, 33, 33, 0.2);
  --colorsocialbg:rgba(255, 255, 255,0.1 );
  --colorbggradient:rgba(47, 48, 58, 0.4);
  --colorparagraphhero:rgba(117, 117, 117, 1);
  --coloriconmain:#AFB1B8;
  --overlaybcg:rgba(33, 150, 243, 0.9);
  --bckgrwhbenefits:rgba(47, 48, 58, 0.8);
  --borderclose:rgba(0, 0, 0, 0.1);
  --bckgrmodal:rgba(0, 0, 0, 0.2);
  --bordermodal:rgb(33, 150, 243);
  --bcgcolorsend: rgb(24, 140, 232);
  --colorplaceholder:rgba(117, 117, 117, 0.502);
  --hoverbutton:rgba(24, 140, 232, 1);
  /* shadowvolor */
  --shadow1:rgba(0, 0, 0, 0.1);
  --shadow2:rgba(0, 0, 0, 0.08);
  --shadow3:rgba(0, 0, 0, 0.12);
  --shadow4:rgba(0, 0, 0, 0.14);
  --shadow5:rgba(0, 0, 0, 0.2);
  --shadow6: rgba(0, 0, 0, 0.06);
  --shadow7: rgba(0, 0, 0, 0.16);
  --shadow8:rgba(0, 0, 0, 0.15);
  /* grid setup */
  --item: 2;
  --item2: 2;
  --indent: 30px;
  /*animation setting*/
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--maincolor);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.header__link {
  color: var(--maincolor);
  text-decoration: none;
}

.header__link:hover,
.header__link:focus {
  color: var(--bluecolor);
}

.header__link--current {
  color: var(--bluecolor);
  text-decoration: none;
}

li,
.header__list,
.header__list-contacts,
.listbenefits,
.list-team,
.listedge,
.listprojects {
  list-style-type: none;
}

.list-basment {
  list-style-type: none;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=main.css.map */