.section-benefits {
    padding-top: 0px;
  }
  .benefits {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
  }
  .listbenefits {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .listofbebefits {
    margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }}
  .benefits-overflow
{
  display: inline;
  position: absolute;
  background-color: var(--bckgrwhbenefits);
  width: 370px;
  height: 70px;
  top:225px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.pbenefits
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
color: var(--whitetext);
}
.imgb
{
  position: relative;
  z-index: 1;
}