.header {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--headerline);
  @include mq(mobile-only) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
}
.header__list {
  display: none;
  @include mq(tablet) {
    display: flex;
    align-items: center;

    &-item:last-child {
      margin-right: 0;
    }
  }
}
.header__link {
  color: var(--maincolor);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--bluecolor);
  }
}
.header__link--current {
  color: var(--bluecolor);
  text-decoration: none;
  display: block;
  margin-right: 50px;
  transition: color var(--animation);

  &::after {
    position: relative;
    display: block;
    content: "";
    border: 2px solid;
    top: 34px;
    border-radius: 2px;
    background-color: var(--overlaybcg);
  }
}
.header__button {
  background-color: transparent;
  border: none;
  @include mq(tablet) {
    display: none;
  }
}
.contacts {
  &__item {
    display: flex;

    @include mq(tablet-only) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include mq(desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__svg {
    fill: currentColor;
    margin-right: 10px;
  }
  &__link {
    color: var(--silvercolor);
    text-decoration: none;
    display: flex;
    align-items: center;
    /* animation */
    transition: color var(--animation);
  }
}
.header__emblema {
  font-weight: 700;
  font-family: var(--fontsecondary);
  text-decoration: none;
  color: var(--maincolor);
  font-size: 24px;

  @include mq(tablet) {
    margin-right: 88px;
  }
  @include mq(desktop) {
    font-size: 26px;
    margin-right: 93px;
  }
  &:hover,
  &:focus {
    color: var(--maincolor);
  }
}
.header__web {
  color: var(--bluecolor);
}

.contacts__link {
  color: var(--silvercolorcontacts);
  text-decoration: none;
  display: flex;
  align-items: center;
  /* animation */
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--bluecolor);
  }
}
.header__list-contacts {
  display: none;
  @include mq(tablet) {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  @include mq(desktop)
  {
    flex-direction: row;
    align-items: center;
  }
}
