.hero {
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/header-mb.jpg);
    @include mq(retina){
      background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/header-mb@2x.jpg);
    }
    @include mq(tablet)
    {
      background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/header-md.jpg);
      
      @include mq(retina)
      {background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/header-md@2x.jpg);}
    }
    @include mq(desktop)
    {
      background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/herobg_lg.jpg);
      
      @include mq(retina)
      {background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/herobg_lg@2x.jpg);}
    }
    background-position: center;
    background-repeat: no-repeat;
    
    // margin: auto;
    background-color: var(--rockcolor);
    text-align: center;
  
  &-button {
    background-color: var(--bluecolor);
    color: var(--whitetext);
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    font-weight: 700;
    border: 0cm;
    border-radius: 10px;
    padding: 10px 32px;
    min-width:200px ;

  }
  &-text {
    color: var(--whitetext);
    font-size: 26px;
    line-height: 1.36;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include mq (desktop)
    {
      font-size:44px;;
    }
    
    }}
    // .container-flex-hero {
    //   box-sizing: border-box;
    //   max-width: 696px;
    // }