.hero {
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(var( --colorbggradient), var( --colorbggradient)),url(../images/background/bkghero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: auto;
    background-color: var(--rockcolor);
    text-align: center;
  
  &-button {
    background-color: var(--bluecolor);
    color: var(--whitetext);
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    border: 0cm;
    border-radius: 10px;
    width: 200px;
    height: 50px;
  }
  &-text {
    color: var(--whitetext);
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    }}