.portfolio {
    line-height: 2;
        display: flex;
        flex-wrap: wrap;
  }
  .menu {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .menu-item {
    display: flex;
  
  &:not(:first-child) {
    margin-left: 8px;
  }}
  .listprojects
{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.listprojects-item
{
  width: 370px;

  margin-bottom: 30px;
  margin-right: 30px;
  
  flex-basis: calc((100% - 90px) / 3);

&:nth-child(3n+3)
{
  margin-right: 0;
}
&:nth-last-child(-n+3)
{
  margin-bottom: 0;
}}
.listprojects-item:hover .overlay,
.listprojects-item:focus .overlay 
{
  transform: translateY(0);
  
}
.projects-url
{
  display: block;
  text-decoration: none;
  color: var(--maincolor);
  transition: box-shadow var(--animation);
    &:hover,
    &:active
{
/* background-color:red; */
box-shadow: 0px 1px 1px var(--shadow3), 0px 4px 4px var(--shadow6), 1px 4px 6px var(--shadow7);

}
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;
  background-color: var(--overlaybcg);
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,5;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--whitetext);
  display: flex;
  padding: 63px 24px;
  align-items: center;
  transition: transform var(--animation);
}
.imgproject {
    width: 100%;
    height: auto;
    display: block;
  }
  .blank {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
    border-style: solid;
    border-color: var(--colorofborders);
    border-width: 1px;
  
    border-top: none;
    
  }
  .projects {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
        display: flex;
        margin-bottom: 4px;
        
          display: flex;
          margin-bottom: 4px;
        }
          
  .paragraph {
    display: flex;
    line-height: 1.7;
      font-weight: 400;
      color: var(--silvercolor);
      font-size: 16px;
      line-height: 24px;
    }
  .relative{
    position: relative;
    overflow: hidden;
  }
  .menu-button {
    line-height: 1.625;
    cursor: pointer;
    background-color: var(--whitecolor);
    border: 0cm;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    height: 38px;
    align-items: center;
    padding: 6px 22px;
    box-shadow: 0px;
    transition: background-color var(--animation),color var(--animation), box-shadow var(--animation);
  
  &:hover,
  &:focus 
  {
    cursor: pointer;
    background-color: var(--bluecolor);
    color: var(--whitecolor);
    border: 0cm;
    box-shadow: 0px 3px 1px var(--shadow1), 0px 1px 2px var(--shadow2), 0px 2px 2px var(--shadow3);
    border-radius: 4px;
  }}