.team {
    background-color: var(--bckgrclteam);
  }
  .team-heading {
    margin-bottom: 50px;
    text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  }
  .list-team {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0px;
  }
  .list-of-team 
  {
    margin-right: 30px;
    border-style: solid;
    border-color: var(--shadow4);
    border-width: 0px 1px 1px;
    background-color: var(--bckgrclteamitem);
    width: 270px;
    box-shadow: 0px 1px 3px var(--shadow3), 0px 1px 1px var(--shadow4), 0px 2px 1px var(--shadow5);
    border-radius: 0px 0px 4px 4px;
  &:last-child
    {
        margin-right: 0px;
        }
    }
    .teamdiv {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    .our-team 
    {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        
          text-align: center;
          margin-bottom: 10px;
        
      }

.position 
{
text-align: center;
font-weight: 400;
color: var(--silvercolor);
font-size: 16px;
line-height: 1.17;
}
.social-links {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
.social-links-items 
{
  display: block;

&:not(:last-child)
{
  margin-right: 10px;
}

&:hover,
&:focus 
{
  border-radius: 50%;
}}

.links-items:hover .svg,
.links-items:focus .svg
{
  fill:var(--whitecolor); 
}
.links-items 
{
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation);
  background-color: var(--colorsocialbg);
  border-radius: 50%;

&:hover,
&:focus
{
  border-color: var(--bordercclientshover);
  background-color: var(--bordercclientshover);
}}
.svg 
{
  display: block;
  height: 20px;
  width: 20px;
  fill:var(--coloriconmain);

  transition: background-color var(--animation),fill var(--animation);
}