
// *
// {
//   position: absolute;
// }

body {
  font-family: var(--fontbase);
  color: var(--maincolor);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  overflow-x: hidden;
}
img
{
  width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header__link {
  color: var(--maincolor);
  text-decoration: none;
}

.header__link:hover,
.header__link:focus {
  color: var(--bluecolor);
}
.header__link--current {
  color: var(--bluecolor);
  text-decoration: none;
}
li,
.header__list,
.header__list-contacts,
.listbenefits,
.list-team,
.listedge,
.listprojects {
  list-style-type: none;
}
.list-basment {
  list-style-type: none;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
